{
    "RootNamespace": "SereneInventory",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=SereneInventory_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Roles",
                    "Identifier": "Roles",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Party",
                    "Identifier": "Party",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Product",
                    "Identifier": "Product",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ProductCategory",
                    "Identifier": "ProductCategory",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Tenant",
                    "Identifier": "Tenant",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Transaction",
                    "Identifier": "Transaction",
                    "Module": "Inventory",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TransactionDetail",
                    "Identifier": "TransactionDetail",
                    "Module": "Inventory",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\SereneInventory\\SereneInventory.Web\\SereneInventory.Web.csproj",
    "BaseRowClasses": [
        {
            "ClassName": "NRow",
            "Fields": [
                "Remarks",
                "IUserId",
                "EUserId",
                "IDate",
                "EDate"
            ]
        }
    ],
    "RemoveForeignFields": [
        "Remarks",
        "IUserId",
        "EUserId",
        "IDate",
        "EDate"
    ],
    "CustomTemplates": "C:\\Users\\Faruque\\Documents\\Visual Studio 2015\\Projects\\SereneInventory\\SereneInventory\\SereneInventory.Web\\Modules\\_Ext\\CodeGeneratorTemplates",
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}