@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Setup.Party.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SereneInventory.Setup.PartyGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>