@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Inventory.TransactionDetail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SereneInventory.Inventory.TransactionDetailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>