@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Setup.Product.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SereneInventory.Setup.ProductGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>