
@{
    ViewData["Title"] = "Profit/Loss Report";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SereneInventory.Inventory.ProfitLossReportPanel($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>